name: fraud-detection-realtime

services:
  postgres:
    image: postgres:16-alpine
    container_name: fdr-postgres
    environment:
      POSTGRES_DB: fraud
      POSTGRES_USER: fraud
      POSTGRES_PASSWORD: fraud
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fraud -d fraud"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: fdr-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pg_data:
  redis_data:
