server:
  port: 8081

spring:
  application:
    name: ingestion-service
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  postgres:
    host: ${POSTGRES_HOST:localhost}
    port: ${POSTGRES_PORT:5432}
    db: ${POSTGRES_DB:fraud}
    user: ${POSTGRES_USER:fraud}
    pass: ${POSTGRES_PASSWORD:fraud}
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
